# Set (Unordered)

In [3]:
a = {4,4,5}
print(a)

{4, 5}

### Access using indices is not allowed

In [4]:
print(a[1])

TypeError: 'set' object is not subscriptable

### .union() .intersection() .difference()

In [7]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = set.union(s1,s2)
s4 = set.intersection(s1,s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{3}

### Convert list into set

In [12]:
arr = [3,4,4,1,2,2]
s5 = set(arr)
print(s5)

{1, 2, 3, 4}

### Convert set to list

In [10]:
listFromSet = list(s5)
print(listFromSet)

[1, 2, 3, 4]

# Dictionary (Mutable)

In [13]:
dict1 = dict(one=1, two=2, three=3)
print(dict1)

{'one': 1, 'two': 2, 'three': 3}

In [14]:
dict2 = {'four': 4}
print(dict2)

{'four': 4}

### Zipping the key and value list is suitable for larger data

In [18]:
dict3 = dict(zip(['five', 'six'], [5,6]))
print(dict3)

{'five': 5, 'six': 6}

### Create dict using list of tuples

In [20]:
dict4 = dict([('seven', 7), ('eight', 8)])
print(dict4)

{'seven': 7, 'eight': 8}

### del keyword

In [21]:
dict5 = {'nine': 9, 'ten': 10}
print(dict5)
del dict5['nine']
print(dict5)

{'nine': 9, 'ten': 10}
{'ten': 10}

### ***tuples are immutable***

# Strings (Read fstrings)

# Conditionals

In [27]:
age = int(input('Enter your age: '))
if age < 0:
    print('Absolute value is', -age)
else:
    print('Absolute value is', age)

Enter your age: -19
Absolute value is 19

### Multiple inputs using single line of code

In [30]:
x,y = int(input('Enter first: ')), int(input('Enter second: '))
print('Sum is:', x + y)

Enter first: 12
Enter second: 3
Sum is: 15

In [38]:
[x,y] = [int(x) for x in input('Enter 2 numbers space sep: ').split(' ')]
print('Diff is:', x - y)

Enter 2 numbers space sep: 13 2
Diff is: 11

### Comparing

In [39]:
print(1/3 == 2/6)

True

### List comparison - index by index

In [46]:
list1 = [1, 'a', 1.2]
list2 = [1, 'a', 1.21]
print(list1 < list2)

True

### Dict and Set comparison - either equal or not as index by index is not possible

### in and not in keywords

In [49]:
list2 = [1,2,4]
if 5 in list2:
    print("Yes")
else:
    print("No")

No

In [51]:
str1 = "python is great"
if "great" in str1:
    print("Hai")
else:
    print("Nahi hai")

Hai

### is keyword - compares the memory address

In [56]:
x = 1
y = 1
if(x y):
    print("same")
else:
    print("not same")

same